$button-height: 88px;
.button {
    display: block;
    width: 188px;
    height: $button-height;
    border: 2px solid $color-primary;
    text-decoration: none;
    text-align: center;
    line-height: $button-height;
    font-weight: bold;
    font-size: 2em;
    font-kerning:normal;
    /* Todo: add border radius */
}