$button-height: 88px;

.button {
    display: block;
    width: 188px;
    height: $button-height;
    border: 2px solid $color-primary;
    border-radius: 9px;
    text-decoration: none;
    text-align: center;
    line-height: $button-height;
    font-weight: bold;
    font-size: 2em;
    font-kerning: normal;
    /* Todo: add border radius */
}

.navy-button {
    width: 372px;
    height: 90px;
    margin: auto;
    margin-top: 70px;
    color: white;
    background-color: $color-primary;
}