main {
    background-color: $color-white;
}

#content-1 {

    padding-top: 70px;

    h1 {
        max-width: 500px;
        margin: auto;
        font-size: 2.7em;
        text-align: center;
        color: $color-secondary;
    }

    img {
        padding-top: 70px;
        height: 870px;
        display: block;
        margin: auto;
    }

    h2 {
        padding-top: 70px;
        max-width: 575px;
        margin: auto;
        font-size: 2.5em;
        text-align: center;
    }

    h3 {
        padding-top: 70px;
        max-width: 575px;
        margin: auto;
        font-size: 2em;
        text-align: center;

        color: $color-secondary;
    }

    p {
        padding-top: 70px;
        max-width: 520px;
        margin: auto;
        font-size: 1.5em;
        text-align: center;
    }
}

#content-2 {
    margin: auto;
    margin-top: 121px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 333px);
    grid-template-rows: 100px repeat(4, 190px) 150px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    h2 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        margin: auto;
        margin-top: 0;
        font-size: 2.5em;
        text-align: top;
    }

    p,
    img {
        margin: auto;
        max-width: 350px;
    }

    p:nth-child(5) {
        max-width: 300px;
    }

    p {
        font-size: 1.6em;
    }

    img {
        position: relative;
        bottom: 25%;
        /* 
            Measured penguin sizes from specification
            w x h, in px
            1) 210 x 245
            2) 234 x 279
            3) 251 x 199
            4) 252 x 221

            Penguin heights will be defined relative to the height of penguin 1
            This will allow the heights to be adjusted easily while staying the same ratio

            1) height = 1.00 * $height-penguin-one
            2) height = 1.14 * $height-penguin-one
            3) height = 0.81 * $height-penguin-one
            3) height = 0.90 * $height-penguin-one
        */
        $height-penguin-one: 230px;

        &:nth-child(3) {
            /* Penguin 1 */
            height: $height-penguin-one;
        }

        &:nth-child(4) {
            /* Penguin 2 */
            height: 1.14 * $height-penguin-one;
        }

        &:nth-child(7) {
            /* Penguin 3 */
            height: 0.81 * $height-penguin-one;
            bottom: 10%;
        }

        &:nth-child(8) {
            /* Penguin 4 */
            height: 0.90 * $height-penguin-one;
            bottom: 10%;
        }
    }

    .button {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 7;
        grid-row-end: span 8;
    }
}