@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=Nunito:wght@800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  max-width: 750px;
}

.button {
  display: block;
  width: 188px;
  height: 88px;
  border: 2px solid #394166;
  border-radius: 9px;
  text-decoration: none;
  text-align: center;
  line-height: 88px;
  font-weight: bold;
  font-size: 2em;
  font-kerning: normal;
  /* Todo: add border radius */
}

.navy-button {
  width: 372px;
  height: 90px;
  margin: auto;
  margin-top: 70px;
  color: white;
  background-color: #394166;
}

footer {
  background-color: #fffcdd;
  margin-top: 150px;
}
footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 108px;
  color: #394166;
  font-size: 240%;
  text-decoration: none;
}

header {
  background-color: #fefdf8;
  display: flex;
  justify-content: space-between;
}
header img {
  margin-top: 45px;
  margin-left: 45px;
  height: 125px;
}
header .button {
  margin-top: 60px;
  margin-right: 50px;
}

main {
  background-color: #fefdf8;
}

#content-1 {
  padding-top: 70px;
}
#content-1 h1 {
  max-width: 500px;
  margin: auto;
  font-size: 2.7em;
  text-align: center;
  color: #1cb8f1;
}
#content-1 img {
  padding-top: 70px;
  height: 870px;
  display: block;
  margin: auto;
}
#content-1 h2 {
  padding-top: 70px;
  max-width: 575px;
  margin: auto;
  font-size: 2.5em;
  text-align: center;
}
#content-1 h3 {
  padding-top: 70px;
  max-width: 575px;
  margin: auto;
  font-size: 2em;
  text-align: center;
  color: #1cb8f1;
}
#content-1 p {
  padding-top: 70px;
  max-width: 520px;
  margin: auto;
  font-size: 1.5em;
  text-align: center;
}

#content-2 {
  margin: auto;
  margin-top: 121px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 333px);
  grid-template-rows: 100px repeat(4, 190px) 150px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
#content-2 h2 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: auto;
  margin-top: 0;
  font-size: 2.5em;
}
#content-2 p,
#content-2 img {
  margin: auto;
  max-width: 350px;
}
#content-2 p:nth-child(5) {
  max-width: 300px;
}
#content-2 p {
  font-size: 1.6em;
}
#content-2 img {
  position: relative;
  bottom: 25%;
  /* 
      Measured penguin sizes from specification
      w x h, in px
      1) 210 x 245
      2) 234 x 279
      3) 251 x 199
      4) 252 x 221

      Penguin heights will be defined relative to the height of penguin 1
      This will allow the heights to be adjusted easily while staying the same ratio

      1) height = 1.00 * $height-penguin-one
      2) height = 1.14 * $height-penguin-one
      3) height = 0.81 * $height-penguin-one
      3) height = 0.90 * $height-penguin-one
  */
}
#content-2 img:nth-child(3) {
  /* Penguin 1 */
  height: 230px;
}
#content-2 img:nth-child(4) {
  /* Penguin 2 */
  height: 262.2px;
}
#content-2 img:nth-child(7) {
  /* Penguin 3 */
  height: 186.3px;
  bottom: 10%;
}
#content-2 img:nth-child(8) {
  /* Penguin 4 */
  height: 207px;
  bottom: 10%;
}
#content-2 .button {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: span 7;
}

* {
  font-family: "IBM Plex Sans", sans-serif;
  color: #394166;
}

h1 {
  font-family: "Nunito", sans-serif;
}

/* h1, h2, h3, p, goes here*/
/* maybe use IBM plex sans? */